canvas {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none; /* Убедитесь, что canvas не блокирует мышь */
    z-index: 1;
  }
  
  body {
    margin: 0;
    background-color: #1d1d24;
  }