.skills-container {
    overflow: hidden;
    width: 100%;
    background: linear-gradient(90deg, #000000, #eaeaea);
    position: relative;
    padding: 20px 0;
    white-space: nowrap;
    z-index: 2;
  }
  
  .skills-track {
    display: flex;
    gap: 30px;
    animation: scroll 15s linear infinite;
    will-change: transform;
    width: max-content;
  }

  .skills-track::after{
    content: "";
    display: flex;
    gap: 30px;
  }
  
  .skill-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 100px;
    background-color: #000000;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    flex-shrink: 0;
    flex: 0 0 auto;
  }
  
  .skill-card:hover {
    transform: scale(1.1);
  }
  
  .icon {
    font-size: 40px;
    margin-bottom: 10px;
  }
  
  .html { color: #E34F26; }
  .css { color: #1572B6; }
  .js { color: #F7DF1E; }
  .ts { color: #3178C6; }
  .react { color: #61DAFB; }
  .redux { color: #764ABC; }
  .axios { color: #A166FF; }
  .tailwind { color: #38B2AC; }
  .git { color: #F05032; }
  .vite { color: #9567e0; }
  .postman { color: #FF6C37; }
  
  /* Анимация бесшовного движения */
  @keyframes scroll {
    from{
      transform: translateX(0);
    }
    to{
      transform: translateX(-33.33%);
    }
  }
  

  @media (max-width: 390px) {
  
    .skills-container {
      padding: 10px 0;
    }

    .skill-card {
      width: 80px;
      height: 70px;
    }
  

    .icon {
      font-size: 20px;
    }
  }

  @media (max-width: 480px) {
    .skill-card {
      width: 80px;
      height: 70px;
    }

    .icon {
      font-size: 20px;
    }

  }

  @media (max-width: 812px) and (orientation: landscape) {
    .skill-card {
      width: 80px;
      height: 70px;
    }
    .icon {
      font-size: 20px;
    }
  }