@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');
@import "@fontsource/plus-jakarta-sans";
@import "@fontsource/plus-jakarta-sans/700.css";

body {
  font-family: 'Inter', 'Plus Jakarta Sans', sans-serif;
  background-color: #FFFFFF;
  color: #6f7686;
  margin: 0;
  padding: 0;
}


@media (max-width: 768px) {
  .header {
    flex-direction: column;
  }

  .nav-links {
    flex-direction: column;
    gap: 10px;
  }

  .about-content {
    padding: 20px;
  }

  .skill-card {
    width: 100%;
  }
}
